*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color:chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#editor{
  width: 95%;
  height: 45vh;
  margin: 20px;
  background-color: beige;
  font-size: 1.3em;

}

#preview{
  width: 95%;
  height: 45vh;
  margin: 20px;
  background-color: beige;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;

}








